version: "3.8"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    mem_limit: 1g # Limitar el contenedor a 4 GB de memoria
    mem_reservation: 710m # Reservar al menos 700 MB de memoria para el contenedor
    deploy:
      resources:
        limits:
          memory: 1g
        reservations:
          memory: 710m

  backend:
    build: .
    container_name: uide-jarvis-backend
    ports:
      - "8000:8000"
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
      OLLAMA_MODEL: tinyllama
    depends_on:
      - ollama
    restart: unless-stopped

volumes:
  ollama_data:
